# Visual Studio cache
.vs/
*.suo
*.user
*.VC.db
*.opendb
ipch/
*.ipch

# Build output
x64/
x86/
Debug/
Release/
bin/
obj/

# C++ build files
*.obj
*.pdb
*.ilk
*.idb
*.tlog
*.lastbuildstate
*.log

# Executables / DLL build output
*.exe
*.dll

# Optional: local SFML folder
# 貪吃幽幽子/SFML-2.6.0/